/* You can add global styles to this file, and also import other style files */

// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@use '~@angular/material' as mat;


@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($my-theme);
// APPLY STYLES FOR EACH ANGULAR MATERIAL COMPONENT
@include mat.all-component-themes($my-theme)